@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 20px 0 !important;
  z-index: 1;
  /* height: 70px; */
  /* box-shadow: 0px -30px 41px -5px rgba(0, 0, 0, 0.5); */
}

nav .nav-link {
  color: #316b83;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}

.nav-link:hover {
  color: rgba(98, 88, 241, 0.904);
}

#atas {
  /* width: 100vh; */
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

#about {
  background: rgba(243, 243, 243, 0.247);
  min-height: 100vh;
}

#bindo {
  min-height: 100vh;
  background-size: cover;
  width: 100%;
}

#about .container {
  padding-top: 20px;
}

.kiri {
  /* margin-top: 2%; */
  margin-top: 25%;
  font-family: Fredoka One;
}

.gambar {
  margin-top: 25%;
}

.kanan img {
  width: 50vh;
}

.kiri span .tek {
  font-size: 90px;
}
.kiri span {
  font-size: 70px;
}

.gbout img {
  width: 50vh;
  padding-top: 25%;
}

.konten p {
  font-size: 20px;
  margin-top: 50%;
  letter-spacing: 1px;
}

#footer {
  color: rgb(48, 48, 48);
  font-size: 14px;
  background-color: #f3f4f6;
  background-size: cover;
}

.card {
  margin-top: 10%;
}



@media only screen and (max-width: 992px) {
  #atas {
    /* width: 100vh; */
    height: 100vh;
  }

  #atas .container {
    padding-top: 25%;
  }

  .kiri {
    margin-top: 0;
    /* margin-top: 15%; */
    font-family: Fredoka One;
  }
  .kiri span {
    font-size: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: table;
    
  }

  .gambar {
    margin-top: 0;
  }
  .gambar img {
    width: 60%;
  }

  #about {
    padding-top: 20px;
  }
  .konten p {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }

  .gbout img {
    
    width: 40vh;
    padding-top: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .kiri span {
    font-size: 6vh;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    padding-left: 20px;
  }
  .btn {
    padding-right: 20px;
  }
  .navbar-nav {
    padding-left: 20px;
  }
  .card {
    padding-left: 20px;
    padding-right: 20px;
  }
}
