@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 20px 0 !important;
  /* height: 70px; */
  /* box-shadow: 0px -30px 41px -5px rgba(0, 0, 0, 0.5); */
}

nav .nav-link {
  color: #316b83;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}

.nav-link:hover {
  color: rgba(98, 88, 241, 0.904);
}

#atas {
  /* width: 100vh; */
  height: 100vh;
}

#about {
  padding-top: 20px;
}

.kiri {
  margin-top: 25%;
  /* margin-top: 15%; */
  font-family: Fredoka One;
}


.gambar {
  margin-top: 25%;
}

/* .kanan img {
  align-content: center;
  width: 50%;
} */

.kiri span .tek {
  font-size: 90px;
}
.kiri span {
  font-size: 70px;
}

@media only screen and (max-width: 768px) {
   
  #atas {
    /* width: 100vh; */
    height: 100vh;
  }

  #atas .container{
    padding-top: 25%;
  }

  .kiri {
    margin-top: 0;
    /* margin-top: 15%; */
    font-family: Fredoka One;
  }
  .kiri span {
    font-size: 8vw;
    margin-left: auto;
    margin-right: auto;
    display:table;
  }

  .gambar {
    margin-top: 0;
  }
  .gambar img{
    width: 40%;
  }

  #about {
    padding-top: 0;
  }
  
}